.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.cf:before,
.cf:after   { content: " "; display: table; }
.cf:after   { clear: both; }
.cf         { *zoom: 1; }


.white{
	background: white;
}

.resetPadding{
	padding: 0;
	margin: 0;
}

/*General table sytyles*/
.tableHead{
	background: white;
	width: 97%;
}

.tableRow{
	padding: 0;
	height: 34px;
}


.deleteButton{
	background: #ffffff00;
	border-width: 0;
}


/* Card styles */

.cardOverflow{
	height: 450px; 
	overflowY: auto; 
	overflowX: hidden;
	position: relative;
}




.wrapper {
  /*margin: 50px auto;*/
/*  width: 100%;
  height: 100%;*/
/*  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);*/
  position: relative;
  /*z-index: 90;*/
}

.ribbon_wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon_red {
  font: bold 15px Sans-Serif;
  color: white;
  text-align: center;
  /*text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;*/
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #b71c1c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b71c1c), to(#c62828)); 
  background-image: -webkit-linear-gradient(top, #b71c1c, #c62828); 
  background-image:    -moz-linear-gradient(top, #b71c1c, #c62828); 
  background-image:     -ms-linear-gradient(top, #b71c1c, #c62828); 
  background-image:      -o-linear-gradient(top, #b71c1c, #c62828); 
  color: white;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after{
	right:0;
}